@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #17183B
}

header{
    position: static;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    text-align: center;
    background-color: #080708;
    box-shadow: 6px 7px #000000;
}

footer{
    position: static;
    width: 100%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #080708;
    box-shadow: 0px 0px 10em #000000;
    text-align: center;
}
#backgroundStars{
    position: absolute;
    left: 0px;
    width: 100%;
}

#pageLogo{
    width: 30%;
}

#earth{
    position: absolute;
    left: 30%;
    width: 6%;
}
#sun{
    position: absolute;
    right: 30%;
    width: 7%;
}

#moon{
    position: absolute;
    left: 32%;
    width: 5%;
    margin-top: 10%;
}

#footerStars{
    position: static;
    left: 0px;
    bottom: -10px;
    width: 100%;
}
#content{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
#aboutMe{
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#profilePic{
    margin-top: 2%;
    width: 8%;
    border-radius: 50%;
    box-shadow: 0px 5px #000000;
}

#skills{
    margin-top: 5%;
}
.skillContainer{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-bottom: 5%;
}
.skillText{
    text-align: start;
    align-items: flex-start;
}
.ratingStars{
    width: 100%;
}
.skillImage{
    width: 20%;
    border-radius: 50%;
    box-shadow: 0px 5px #000000;
}
#softSkills{
    margin-top: 5%;
}
.softSkillsContainer{
    display: flex;
    flex-direction: row;
    margin-left: 27%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.softSkillsImages{
    width: 10%;
}
.softSkillsText{
    text-align: start;
    align-items: flex-start;
}


h2{
    color: #FF8600;
    font-family: 'Rubik';
    font-size: 40px;
}

p{  

    margin-top: 30px;
    color: #EDE7D9;
    font-size: 30px;
}

#aboutMeText{
    width: 50%;
}

.softSkillsParagraph{
    width: 50%;
}